<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<!-- div挂载点 -->
		<div id="app">
			<p v-if="isShow">我是p标签</p> <!-- 从dom树中删除 -->
			<p v-show="isShow">我是p标签 v-show修饰</p><!-- v-show使用的式样 display:none -->
			<!-- 如果经常切换状态使用v-show -->
			<button @click="changeisShow()">切换状态</button>
			<p v-if="wendu>=35">热死了</p>
			<input v-model="wendu" />
		</div>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script>
		//Vue
		var app=new Vue({
			el:"#app",
			data:{
				isShow:false,
				wendu:35
			},
			methods:{
				changeisShow:function(){
					this.isShow=!this.isShow;
				}
			}
		})
		</script>
	</body>
</html>
