<!--<!doctype html>-->
<!--<html lang="ch" xml:th="http://www.thymeleaf.org">-->
<!--<td><a th:href="@{/toshowbrrow(userid=${student.getUserid()},token=${token})}">显示自己借的所有书籍</a></td>-->
<!--<form class="form-horizontal"   th:action="@{/find}"  method="post">-->
<!--    <div class="form-group">-->
<!--        <label for="name" class="col-sm-2 control-label" >关键词</label>-->
<!--        <div class="col-sm-10">-->
<!--            <input type="text" class="form-control" name="name" id="name" placeholder="书籍名称"/>-->
<!--        </div>-->
<!--    </div>-->
<!--    <input type="submit" value="Submit" class="btn btn-info" />-->
<!--</form>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" itemscope itemtype="https://schema.org/WebPage" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bazel - a fast, scalable, multi-language and extensible build system" - Bazel</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/famliy.css}" />
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

    <!--
      Metadata tags.

      The metadata tag's name attribute is specified in the HTML5 spec for
      specifying metadata, and the property attribute comes from RDFa, which
      itself extends HTML5. It's valid to use both name and property in the
      same metadata element.

      og:<tag> is part of the Open Graph protocol by Facebook, but is also used
      by other social media sites like LinkedIn.
    -->
</head>

<body class="body-home">
<nav id="common-nav" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <!--              <a href="https://github.com/bazelbuild/bazel">
                                    <span class="hidden-sm">GitHub</span>
                                    <span class="nav-icon visible-sm"><i class="fa fa-github"></i></span>
                                  </a> -->
                </li>
            </ul>
            <form class="navbar-form navbar-right" th:action="@{/find}"  method="post" id="cse-search-box">
                <div class="form-group">
                    <input type="search" name="name" id="name" class="form-control input-sm" placeholder="关键词">
                </div>
                <div>
                    <input type="hidden" name="userid" th:value="${student.getUserid()}">
                </div>
                <div>
                    <input type="hidden" name="token" th:value="${token}">
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a th:href="@{/toshowbrrow(userid=${student.getUserid()},token=${token})}">显示自己借的所有书籍</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Anchor JS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.0/anchor.min.js"></script>

</body>
</html>
